fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
sentence-transformers
pypdf
pandas
requests
beautifulsoup4
trafilatura
google-generativeai
langdetect
google-cloud-speech
boto3
python-multipart
python-dotenv
websockets
InstructorEmbedding
slowapi
python-multipart
